<div class="container">
  <div class="column">
    <table class="table table-bordered table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">DOB</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Phone</th>
          <th scope="col">Department</th>
          <th scope="col">Doctor</th>
          <th scope="col">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <th scope="row">{{patient.last_name}}, {{patient.first_name}}</th>
          <td>{{patient.DOB}}</td>
          <td>{{patient.email}}</td>
          <td>{{patient.address}},{{patient.city}},{{patient.province}},{{patient.postal_code}}</td>
          <td>{{patient.phone}}</td>
          <td>{{patient.department}}</td>
          <td>{{patient.doctor}}</td>
          <td>
            <div class="btn-toolbar">
              <button class="btn btn-primary" (click)="getSinglePatient(patient._id)">View</button>
              <button class="btn btn-default" (click)="deletePatient(patient._id)">Edit</button>
              <button class="btn btn-danger" (click)="deletePatient(patient._id)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>