<div>
  <h2 class="page-header text-center">Patients</h2>
</div>
<div class="container">
  <div class="column">
    <div class="text-right">
      <input type="text" [(ngModel)]="searchPatient" placeholder="Search By First Name" width="300px">
    </div>
    <table class="table table-bordered table-hover table-dark">
      <thead>
        <tr>
          <th scope="col" class="text-center">Name</th>
          <th scope="col" class="text-center">DOB</th>
          <th scope="col" class="text-center">Email</th>
          <th scope="col" class="text-center">Address</th>
          <th scope="col" class="text-center">Phone</th>
          <th scope="col" class="text-center">Department</th>
          <th scope="col" class="text-center">Doctor</th>
          <th scope="col" class="text-center">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients | patientFilter:searchPatient">
          <th scope="row">{{patient.first_name}} {{patient.last_name}}</th>
          <td>{{patient.DOB}}</td>
          <td>{{patient.email}}</td>
          <td>{{patient.address}},{{patient.city}},{{patient.province}},{{patient.postal_code}}</td>
          <td>{{patient.phone}}</td>
          <td>{{patient.department}}</td>
          <td>{{patient.doctor}}</td>
          <td>
            <div class="btn-toolbar">
              <button style="width:100%" class="btn btn-outline-info" (click)="getSinglePatient(patient._id)">Records</button>
              <button style="width:100%" class="btn btn-outline-warning" (click)="editPatient(patient._id)">Edit</button>
              <button style="width:100%" class="btn btn-outline-danger" (click)="deletePatient(patient._id)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>