<div>
  <h2 class="page-header text-center">Records For Patient</h2>
</div>
<div class="container">
  <div class="column">
    <table class="table table-bordered table-hover table-dark">
      <thead>
        <tr>
          <th scope="col" class="text-center" width="10%">Date</th>
          <th scope="col" class="text-center">Nurse</th>
          <th scope="col" class="text-center">Type</th>
          <th scope="col" class="text-center">Category</th>
          <th scope="col" class="text-center">Reading#1</th>
          <th scope="col" class="text-center">Reading#2</th>
          <th scope="col" class="text-center">Blood Pressure</th>
          <th scope="col" class="text-center">Food Allergy</th>
          <th scope="col" class="text-center">Diabetic</th>
          <th scope="col" class="text-center">Heart Disease</th>
          <th scope="col" class="text-center">Surgery</th>
          <th scope="col" class="text-center">Accident</th>
          <th scope="col" class="text-center">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records">
          <th scope="row">{{record.date}}</th>
          <td>{{record.nurse_name}}</td>
          <td>{{record.type}}</td>
          <td>{{record.category}}</td>
          <td>{{record.reading1}}</td>
          <td>{{record.reading2}}</td>
          <td>{{record.bp}}</td>
          <td>{{record.food_allergy}}</td>
          <td>{{record.diabetic}}</td>
          <td>{{record.heart_disease}}</td>
          <td>{{record.surgery}}</td>
          <td>{{record.accident}}</td>
          <td>
            <div class="btn-toolbar">
              <button style="width:100%" class="btn btn-outline-info" (click)="editRecord(ID,record._id)">Edit</button>
            </div>
            <div class="btn-toolbar">
              <button style="width:100%" class="btn btn-outline-danger" (click)="deleteRecord(ID,record._id)">Delete</button>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-outline-success btn-lg btn-block" (click)="redirect()">Add Record</button>
  </div>
</div>