<div class="container">
  <h2 class="page-header text-center">Login</h2>
  <hr style="border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 0;">
  <form [formGroup]="login" (submit)="onLoginSubmit()">
    <div class="form-group" [ngClass]="{'has-error':formErrors.username}">
      <label>Username</label>
      <input type="text" [(ngModel)]="username" formControlName="username" (blur)="logValidationErrors()" class="form-control"
        required>
      <span class="help-block" *ngIf="formErrors.username">
        {{formErrors.username}}
      </span>
    </div>
    <div class="form-group" [ngClass]="{'has-error':formErrors.username}">
      <label>Password</label>
      <input type="password" [(ngModel)]="password" formControlName="password" (blur)="logValidationErrors()" class="form-control"
        required>
      <span class="help-block" *ngIf="formErrors.password">
        {{formErrors.password}}
      </span>
    </div>
    <div class="text-center">
      <input type="submit" class="btn btn-outline-primary btn-lg" [disabled]="!login.valid" value="Login">
    </div>
  </form>
</div>